{erl_opts, [debug_info]}.
{deps, []}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{plugins, [rebar3_hex, pc]}.

{provider_hooks, [
    {pre, [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
    ]}
]}.

{port_specs, [
    {"priv/soxe_drv.so", ["c_src/soxe.c"]}
]}.

{port_env, [
    {"LDFLAGS", "$LDFLAGS -lsox"}
]}.
